[Unit]
Description=CertWarden Certificate Deployment
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
UMask=0027
ExecStart=/usr/local/bin/certwarden-deploy.py --config /etc/certwarden-deploy/config.yaml process
# Uncomment if journald MaxLevelStore filters out info logs:
#SyslogLevel=warning

[Install]
WantedBy=multi-user.target
