api:
  base_url: https://api.certwarden.com
  headers:
    Content-Type: application/json
certificates:
  - common_name: example.com
    cert_id: 123
    on_success: "systemctl reload nginx"
  - common_name: internal.example.com
    cert_id: 456
    on_success: "/usr/local/bin/deploy_internal_cert.sh"
defaults:
  expiry_alert_days: 30
  format: pem
  output:
    directory: ./certificates
  on_success: "systemctl reload nginx"  # example command
defaults:
  expiry_alert_days: 30
  format: pem
output:
  directory: ./certificates
  extensions:
    certificate: .crt
    chain: _chain.pem
    combined: _combined.pem
    private_key: .key
  filename_template: '{common_name}_{cert_id}'
